@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Portafolio</title>

</head>

<link href="@Url.Content("~/Content/estiloss.css")" rel="stylesheet" type="text/css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<link href="~/Content/Site.css" rel="stylesheet" />


<body>
    <section class="container">
        <div class="row p-3" align="center">
            <div class="col">
                <h1 class=" fuente-titulo fw-bold" style="padding-top: 150px">Proyectos Recientes</h1>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <p class="fuente-sub">Una selección de proyectos recientes</p>
            </div>
        </div>

        <div class="row" style="padding-top: 100px" align="center">
            <div class="col">
                <img class="img-fluid marco-images" src="~/Content/lizbreria.png" />
            </div>
            <div class="col">
                <img class="img-fluid marco-images" src="~/Content/fixel.png" />
            </div>
            <div class="col">
                <img class="img-fluid marco-images" src="~/Content/lilinails.png" />
            </div>


            <div class="row" style="padding-top: 30px" align="center">
                <div class="col">
                    <a class="btn btn-secondary boton fuente-sub " style="padding-top: 20px;" align="center" href="@Url.Action("ProyLizbreria", "Home")">Ver proyecto</a>
                </div>

                <div class="col">
                    <a class="btn btn-secondary boton fuente-sub " style="padding-top: 20px;" align="center" href="@Url.Action("ProyFixel", "Home")">Ver proyecto</a>
                </div>

                <div class="col">
                    <a class="btn btn-secondary boton fuente-sub " style="padding-top: 20px;" align="center" href="@Url.Action("ProyManicura", "Home")">Ver proyecto</a>
                    </div>
                </div>
            </div>
    </section>
</body>
