.nav-link {
    font-family: 'JejuGothic';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #7921DD;
    /*border: 1px solid #513EA0;*/
}

.nav-color{
    background-color: #BDB3CA;
}


.fuente-titulo {
    font-family: "Times New Roman", Times, serif;
}
