@{Layout = "~/Views/Shared/_Layout.cshtml";}


<head>
    <link href="@Url.Content("~/Content/estiloss.css")" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>

<section>
    <div class="row">
        <div class="col">
            <h1 align="center" class=" fuente-titulo fw-bold" style="padding-top: 60px;">Acerca de Lizbeth</h1>
        </div>
    </div>

    <div class="" style="padding-top:80px;" align="justify">
        <div class="row">
            <div class="col" align="right">
                <img class="img-fluid" src="~/Content/imag3.png" />
            </div>
            <div class="col" align="left">
                <p class=" fuente-tit1 fw-bold">Académico / Laboral</p>
                <ul style="padding-top:30px;">
                    <li><p class=" fuente-sub">Lic.Informática - UABC FCA </p></li>
                    <li><p class=" fuente-sub">Tec.Aplicación de uñas - Hollywood Beauty Supply</p></li>
                    <li><p class=" fuente-sub">Tec.Mecatrónica - Cecyte</p></li>
                </ul>
            </div>
        </div>
    </div>

    <div class=" col-md-12" style="padding-top:40px;" align="right">
        <div class="row" >
            <div class="col" align="right">
                <img class="img-fluid" src="~/Content/imag2.png" />
            </div>
            <div class="col" align="left">
                <p class=" fuente-tit2 fw-bold">Hobbies</p>
                <ul style="padding-top:30px;">
                    <li> <p class=" fuente-sub">Leer libros de suspenso</p></li>
                    <li> <p class=" fuente-sub">Escuchar música</p></li>
                    <li> <p class=" fuente-sub">Pintar con pintura acrílica</p></li>
                    <li> <p class=" fuente-sub">Armar cosas</p></li>
                    <li> <p class=" fuente-sub">Aplicar uñas</p></li>
                </ul>
            </div>
        </div>
    </div>

    <div>
    <div class=" col" style="padding-top:40px;">
        <div class="row">
            <div class="col" align="right">
                <img class="img-fluid" src="~/Content/imag1.png" />
            </div>
            <div class="col" align="left">
                <p class=" fuente-tit3 fw-bold">Aficiones</p>
                <ul style="padding-top:30px;">
                    <li><p class=" fuente-sub">Egresar de mi carrera</p></li>
                    <li><p class=" fuente-sub">Viajar</p></li>
                    <li><p class=" fuente-sub">Aprender nuevos idiomas</p></li>
                    <li><p class=" fuente-sub">Aumentar mis conocimientos con diplomados</p></li>
                    <li><p class=" fuente-sub">Poder conseguir un puesto en alguna empresa prestigiosa sobre tecnología</p></li>
                </ul>
            </div>
                
        </div>
    </div>
        </div>
</section>
