@{Layout = "~/Views/Shared/_Layout.cshtml";}


<section>
    <div class="row"><div class="col"><h1>Acerca de Lizbeth</h1></div></div>
    <div class="row"><div class="col"><p>Académico / Laboral</p> <p>Lic. Informática - UABC FCA </p> <p>Tec. Aplicación de uñas - Hollywood Beauty Supply</p> <p>Tec. Mecatrónica - Cecyte</p></div></div>

    <div class="row"><div class="col"><p>Hobbies</p> <p>Leer libros de suspenso</p> <p>Escuchar música</p> <p>Pintar con pintura acrílica</p> <p>Armar cosas</p> <p>Aplicar uñas</p> </div></div>

    <div class="row"><div class="col"><p>Aficiones</p> <p>Egresar de mi carrera</p> <p>Viajar</p> <p>Aprender nuevos idiomas</p> <p>Aumentar mis conocimientos con diplomados</p> <p>Poder conseguir un puesto en alguna empresa prestigiosa sobre tecnología</p> </div></div>
</section>
