@{Layout = "~/Views/Shared/_Layout.cshtml";}


<div class="fuente">
<div class="container " align="justify" style="padding-top:40px;">
    <div class="row">
        <div class="col">
        </div><div class="col-lg-12"> <img class="img-fluid" src="~/Content/amico.png"/> <img class="img-fluid" src="~/Content/bro.png" /></div>
    </div>
</div>
<div class="container " align="center" style="padding-top:40px;">
    <div class="row">
        <div class="col">
            <h2 class=" fuente-titulo" style="">Hola, Soy Lizbeth.</h2><p>Estudiante de informática que estudia en la facultad de ciencias administrativas.</p>
            <a class="btn btn-secondary" href="@Url.Action("Index","Home")">Mi trabajo</a>
        </div><div class="col"><img class="img-fluid" src="~/Content/me.png" /></div>
    </div>
</div>
<div class="container" align="justify" style="padding-top:40px;">
    <div class="row">
        <div class="col">
        </div><div class="col-lg-12"> <img class="img-fluid" src="~/Content/imggg.png" /> <img class="img-fluid" src="~/Content/pcimg.png" /></div>
    </div>
</div>
</div>